* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
:root {
  --primary-font: "Cascadia Mono", sans-serif;
  --color-yellow-green: #aad424;
  --color-grey: #d8dbdd;
  --color-grey-dark: #797877;
  --color-nationalizegreen: #00b050;
  --color-black-main: #000000;
}
body {
  background: var(--color-grey);
  font-family: var(--primary-font);
  height: 100vh;
}
.nationalize-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--color-grey-dark);
  padding-inline: 7rem 2rem;
  display: flex;
  justify-content: space-between;
}

.nationalize-headerlogo {
  background: var(--color-nationalizegreen);
  padding: 2rem;
  font-size: 3rem;
}

.nationalize-header-socials {
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.nationalize-header-socials a {
  color: var(--color-black-main);
  text-decoration: none;
}

.natinalize-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nationalize-body-heading {
  text-align: center;
  font-size: 5rem;
  width: 50%rem;
  padding-block: 5rem;
}
.natinalize-body-input_search input {
  font: inherit;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
}
.natinalize-body-input_search button {
  font: inherit;
  background: var(--color-nationalizegreen);
  border: none;
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 4rem;
  transition: all 0.5s;
}
.nationalize-body-output {
  padding-block: 2rem;
  font-size: 2rem;
  text-align: center;
}

button:disabled {
  background: var(--color-grey-dark);
}
.nationalize-body-output span {
  font-weight: 400;
}
@media screen and (max-width: 740px) {
  .nationalize-body-heading {
    font-size: 3rem;
    padding-block: 3rem;
    width: 90%;
  }

  .nationalize-header {
    padding-inline: 1rem 1rem;
  }
}
